:root{
  --color-white: #ffffff;
  --color-black: hsl(0,0,0);
  --color-red: #e50914;
  --color-black-100: #ffffff4d;
  --color-black-200: #6d6d6eb3;
  --color-black-300: #323232;
  --color-black-400: #3b3b3b;
  --color-black-500: #222222;
  --color-black-600: #1b1b1b;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #161616;
  font-family: Helvetica, Arial, sans-serif;
}

.slick-list {
  padding: 100px 0;
  margin: -100px 0;
}

.slick-prev {
  left: 1% !important;
  z-index: 1;
}
.slick-next {
  right: 1% !important;
  z-index: 1;
}

a{
  text-decoration: none;
  color: inherit;
}